.answers-block {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  >* {
    background-color: $bg-opacity;
    border-radius: 10px;
    width: 50%;
  }
}

.answers-list {
  display: flex;
  flex-direction: column;  
  cursor: pointer; 
  overflow: hidden; 
  margin-right: 20px;

  &__item {
    border-bottom: 2px solid $border-color;
    padding: 10px;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $bg-item-hover;      
    }

    &:last-child {
      border-bottom: none;
    }

    &-marker {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $border-color;
      margin-right: 10px;

      &_wrong {
        background-color: $wrong;
      }

      &_right {
        background-color: $right;
      }
    }

    &-name {
      font-size: 1.5rem;
    }
  }
}

.bird-description {
  padding: 10px;

  &__top {
    display: flex;

    &-image {
      width: 230px;
      height: 180px;
      margin-right: 20px;
    }

    &-subdescription {
      width: 100%;

      &-name {
        font-size: 2rem;
        padding: 10px 0;
        border-bottom: 2px solid $border-color;
      }

      &-species {
        font-size: 1.5rem;
        padding: 5px 0;
        border-bottom: 2px solid $border-color;
      }

      &-audio {
        width: 100px;
      }
    }
  }

  &__bottom {
    font-size: 1.5rem;
  }
}