.answers-block {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  >* {
    background-color: $bg-opacity;
    border-radius: 10px;
    width: 50%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }  
}

.answers-list {
  display: flex;
  flex-direction: column;  
  cursor: pointer; 
  overflow: hidden; 
  margin-right: 20px;
  height: fit-content;

  &__item {
    border-bottom: 2px solid $border-color;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 30px;

    &:hover {
      background-color: $bg-item-hover;      
    }

    &:last-child {
      border-bottom: none;
    }

    &-marker {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $border-color;
      margin-right: 10px;

      &_wrong {
        background-color: $wrong;
      }

      &_right {
        background-color: $right;
      }
    }

    &-name {
      font-size: 1.5rem;
    }
  }
}

.bird-description {
  padding: 10px;

  @media screen and (max-width: 768px) {
    margin-top: 20px;
    box-sizing: border-box;
  }

  &__top {
    display: flex;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    &-image {
      width: 230px;
      height: 180px;
      margin-right: 20px;
      border-radius: 10px;
      
      @media screen and (max-width: 1024px) {
        margin-right: 0px;
      }
    }

    &-subdescription {
      width: 100%;

      @media screen and (max-width: 1024px) {
        text-align: center;
      }

      &-name {
        font-size: 2rem;
        padding: 10px 0;
        border-bottom: 2px solid $border-color;
      }

      &-species {
        font-size: 1.5rem;
        padding: 5px 0 10px 0;
        border-bottom: 2px solid $border-color;
      }

      &-audio {
        width: 100%;
        margin-top: 20px;
      }
    }
  }

  &__bottom {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  &__preview {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}