* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  padding: 0 100px;
  background-color: $bg-main;

  @media screen and (max-width: 1024px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 25px;
  }
}
