.button-next-level {
  width: 100%;  
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 30px;  
  background-color: $bg-opacity;
  transition: 0.3s;

  &_active {
    background-color: $main-color;
    cursor: pointer;

    &:hover {
      background-color: $main-light-color;
    }
  }
}


