.question-block {
  background-color: $bg-opacity;
  border-radius: 10px;
  display: flex;
  padding: 10px;

  >* {
    margin-right: 20px;
  }

  &__image {
    width: 230px;
    height: 180px;
    border-radius: 10px;
  }

  &__description {
    flex: 1;

    &-title {
      font-size: 2.5rem;
      border-bottom: 2px solid $border-color;
    }

    &-audio {
      width: 100%;
    }
  }  
}