.report {
  background-color: $bg-opacity;
  padding: 20px;
  border-radius: 10px;

  &__title {
    font-size: 4rem;
    line-height: 2.5;
    font-weight: 400;
    text-align: center;
  }

  &__summary {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    text-align: center;
  }

  &__button {
    width: 100%;  
    margin: 50px 0;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    background-color: $main-color;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $main-light-color;
    }
  }
} 