$main-color: #009d76;
$main-light-color: #02dda6;

$bg-main: darkslategray;
$bg-opacity: rgba(0, 0, 0, 0.3);
$bg-item-hover: rgba(255, 255, 255, 0.3);

$border-color: rgba(255, 255, 255, 0.2);

$wrong: rgba(255, 0, 0, 0.7);
$right: rgba(0, 255, 0, 0.7);